* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: hidden;
  background-color: #111;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

button {
  padding: 20px 60px;
  border-radius: 40px;
  background: linear-gradient(lightseagreen, seagreen);
  cursor: pointer;
}

img {
  width: 100px;
}
